appointment_delete
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Webhook appointment_delete').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"{{ $json.status }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "90526054-b672-4558-b7d1-b81cd325a6a8",
      "name": "Response - Slots Available",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        304,
        -48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment_delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -48
      ],
      "id": "b326b761-1347-4e6e-9fcc-3e332d896459",
      "name": "Webhook appointment_delete",
      "webhookId": "78fb4c52-5aa6-4d94-880c-103e02b0df9d"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "beckmc61@gmail.com",
          "mode": "list",
          "cachedResultName": "beckmc61@gmail.com"
        },
        "eventId": "={{ $json.body.message.toolCalls[0].function.arguments.slotId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        96,
        -48
      ],
      "id": "4acaa63b-07c9-42a9-a4c6-06414e264944",
      "name": "Delete an event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QwlUgCsjoG0OIHz8",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Webhook appointment_delete": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Response - Slots Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a4abe292dde3b8deba350548e5546febb5e9f65db6cf3af1d200fb2885172aac"
  }
}
